<.layout current_user={@current_user} flash={@flash}>
  <div>HOME</div>
  <div class="my-[40rem]">asdf</div>
  <div class="my-[40rem]">asdf</div>
  <div class="my-[40rem]">asdf</div>
  <div class="my-[40rem]">asdf</div>
  <div class="my-[40rem]">asdf</div>
</.layout>
